In [ ]:
# IS 362 â€“ Week 3 Assignment  
### Pandas Series: Bicycle Miles from New York City to Key West

In [4]:
import pandas as pd

In [5]:
# Cumulative miles at the end of each day
cumulative_miles = [55, 120, 180, 250, 310, 400]

miles_series = pd.Series(cumulative_miles, name="Cumulative Miles")
miles_series

0     55
1    120
2    180
3    250
4    310
5    400
Name: Cumulative Miles, dtype: int64

In [8]:
daily_miles = miles_series.diff().fillna(miles_series.iloc[0])
daily_miles.name = "Daily Miles"
daily_miles

0    55.0
1    65.0
2    60.0
3    70.0
4    60.0
5    90.0
Name: Daily Miles, dtype: float64

In [9]:
results = pd.DataFrame({
    "Cumulative Miles": miles_series,
    "Daily Miles": daily_miles
})
results

   Cumulative Miles  Daily Miles
0                55         55.0
1               120         65.0
2               180         60.0
3               250         70.0
4               310         60.0
5               400         90.0